// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: white;
}

a {
  text-decoration: none;
}

hr {
  opacity: 0.05;
}

.footer {
  background: linear-gradient(#fdfbfb, #ebedee);
}

.image-tag {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
